<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="https://michaeldunphy.netlify.com">Michael</a>, a web developer who is driven to become his own MVP and turn his ideas into reality.
  </p>
  <br />
  <p>
    He is just starting his web development career using the University of Wisconsin Extended Campus Coding Boot Camp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mike.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Michel Dunphy</h2>
      <br />
      <p>
        Michael Dunphy is a web developer who is currently learning the basics of coding via the University of Wisconsin Coding Boot Camp. He is curently a musician in the Fox Cities area of Wisconsin, but he is making a career change to become a software engineer
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />